In [1]:
import yfinance as yf

apple= yf.Ticker("aapl")

# show actions (dividends, splits)
apple.actions

# show dividends
apple.dividends

# show splits
apple.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [4]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [5]:
yahoo_financials = YahooFinancials('AAPL')
data = yahoo_financials.get_historical_price_data(start_date='2019-01-01', 
                                                  end_date='2019-12-31', 
                                                  time_interval='weekly')
aapl_df = pd.DataFrame(data['AAPL']['prices'])
aapl_df = aapl_df.drop('date', axis=1).set_index('formatted_date')
aapl_df.head()

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2019-01-01,39.712502,35.500000,38.722500,36.982498,966947200,35.803493
2019-01-08,38.632500,37.130001,37.389999,37.500000,725470000,36.304493
2019-01-15,39.470001,37.512501,37.567501,39.205002,491411200,37.955132
2019-01-22,39.532501,37.924999,39.102501,39.075001,554774800,37.829277
2019-01-29,42.915001,38.527500,39.062500,42.812500,830400800,41.447620

In [6]:
yahoo_financials = YahooFinancials('BTC-USD')
data=yahoo_financials.get_historical_price_data("2019-07-10", "2021-05-30", "monthly")
btc_df = pd.DataFrame(data['BTC-USD']['prices'])
btc_df = btc_df.drop('date', axis=1).set_index('formatted_date')
btc_df.head()

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2019-08-01,12273.821289,9421.629883,10077.442383,9630.664062,533984971734,9630.664062
2019-09-01,10898.761719,7830.758789,9630.592773,8293.868164,480544963230,8293.868164
2019-10-01,10021.744141,7446.988770,8299.720703,9199.584961,595205134748,9199.584961
2019-11-01,9505.051758,6617.166992,9193.992188,7569.629883,676919523650,7569.629883
2019-12-01,7743.431641,6540.049316,7571.616211,7193.599121,633790373416,7193.599121

In [7]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01", end="2017-04-30")
data

[*********************100%***********************]  3 of 3 completed

            Adj Close                              Close              \
                 AAPL        AMZN        GOOG       AAPL        AMZN
Date
2017-01-03  27.257639  753.669983  786.140015  29.037500  753.669983
2017-01-04  27.227133  757.179993  786.900024  29.004999  757.179993
2017-01-05  27.365595  780.450012  794.020020  29.152500  780.450012
2017-01-06  27.670671  795.989990  806.150024  29.477501  795.989990
2017-01-09  27.924126  796.919983  806.650024  29.747499  796.919983
...               ...         ...         ...        ...         ...
2017-04-24  33.855042  907.409973  862.760010  35.910000  907.409973
2017-04-25  34.064808  907.619995  872.299988  36.132500  907.619995
2017-04-26  33.864475  909.289978  871.729980  35.919998  909.289978
2017-04-27  33.890388  918.380005  874.250000  35.947498  918.380005
2017-04-28  33.857395  924.989990  905.960022  35.912498  924.989990

                             High                                Low  \
                  GOOG       AAPL        AMZN        GOOG       AAPL
Date
2017-01-03  786.140015  29.082500  758.760010  789.630005  28.690001
2017-01-04  786.900024  29.127501  759.679993  791.340027  28.937500
2017-01-05  794.020020  29.215000  782.400024  794.479980  28.952499
2017-01-06  806.150024  29.540001  799.440002  807.900024  29.117500
2017-01-09  806.650024  29.857500  801.770020  809.966003  29.485001
...                ...        ...         ...         ...        ...
2017-04-24  862.760010  35.987499  909.989990  863.450012  35.794998
2017-04-25  872.299988  36.224998  909.479980  875.000000  35.967499
2017-04-26  871.729980  36.150002  915.750000  876.049988  35.845001
2017-04-27  874.250000  36.040001  921.859985  875.400024  35.827499
2017-04-28  905.960022  36.075001  949.590027  916.849976  35.817501

                                         Open                          \
                  AMZN        GOOG       AAPL        AMZN        GOOG
Date
2017-01-03  747.700012  775.799988  28.950001  757.919983  778.809998
2017-01-04  754.200012  783.159973  28.962500  758.390015  788.359985
2017-01-05  760.260010  785.020020  28.980000  761.549988  786.080017
2017-01-06  778.479980  792.203979  29.195000  782.359985  795.260010
2017-01-09  791.770020  802.830017  29.487499  798.000000  806.400024
...                ...         ...        ...         ...         ...
2017-04-24  903.820007  849.859985  35.875000  908.679993  851.200012
2017-04-25  903.000000  862.809998  35.977501  907.039978  865.000000
2017-04-26  907.559998  867.747986  36.117500  910.299988  874.229980
2017-04-27  912.109985  870.380005  35.980000  914.390015  873.599976
2017-04-28  924.330017  905.770020  36.022499  948.830017  910.659973

               Volume
                 AAPL     AMZN     GOOG
Date
2017-01-03  115127600  3521100  1657300
2017-01-04   84472400  2510500  1073000
2017-01-05   88774400  5830100  1335200
2017-01-06  127007600  5986200  1640200
2017-01-09  134247600  3446100  1274600
...               ...      ...      ...
2017-04-24   68537200  3122900  1372500
2017-04-25   75486000  3380600  1672000
2017-04-26   80164800  2608900  1237200
2017-04-27   56985200  5305500  2026800
2017-04-28   83441600  7364700  3276300

[81 rows x 18 columns]